extend template/layout 
block variables 
  - var title = 'Home'

block body
  #main.container 
    h1 スパロボDD
    .row.justify-content-center.row-cols-auto.mt-5 
      .col-auto
        .form-floating
          input#energy(type="number" class="form-control" value=100)
          label.form-label(for="energy") 気力
      .col-auto
        .form-floating
          input#battleCount(type="number" class="form-control" value=0)
          label.form-label(for="battleCount") 戦闘回数
      .col-auto
        .form-floating
          input#distance(type="number" class="form-control")
          label.form-label(for="distance") 距離
      .col-auto
        .form-floating
          input#attribute(type="text" class="form-control" list="attributeList")
          label.form-label(for="attribute") 属性
      .col-auto
        .form-floating
          input#status(type="text" class="form-control" list="statusList")
          label.form-label(for="status") 状態
    .row.justify-content-center.row-cols-auto.mt-5 
      .col-auto
        .form-floating
          input#mecha(type="text" class="form-control" list="mechaList")
          label.form-label(for="mecha") 機体
      .col-auto
        .form-floating
          input#pilot(type="text" class="form-control" list="pilotList")
          label.form-label(for="pilot") パイロット

        datalist#attributeList 
          option(value="特殊") 特殊
          option(value="斬撃") 斬撃
          option(value="打撃") 打撃
          option(value="実弾") 実弾
          option(value="ビーム") ビーム

        datalist#statusList
          option(value="なし") なし
          option(value="ブレイク状態") ブレイク状態 

        datalist#mechaList
        datalist#pilotList
    .row.justify-content-center.row-cols-auto.mt-5 
      .col-auto
        #result
